<nav class="navbar navbar-expand-lg navbar-light bg-white bg-gradient shadow-lg rounded-1">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
        <img src="../assets/logo.svg" alt="Logo" width="250" height="55" class="d-inline-block align-text-top">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">        
        <div class="ms-lg-5"></div><div class="ms-lg-5"></div><div class="ms-lg-5"></div><div class="ms-lg-5"></div><div class="ms-lg-3"></div>
        <ul class="navbar-nav">
            &nbsp;&nbsp;
          <a style="font-size: 19px;color: #0056D2;" class=" text-decoration-none btn btn-white" routerLink=""><i class="bi bi-house"></i> Home</a>
          &nbsp;&nbsp;
          <a style="font-size: 19px;color: #0056D2;" class=" text-decoration-none btn btn-white" routerLink="course"><i class="bi bi-trophy"></i> Course</a>
          &nbsp;&nbsp;
          <a style="font-size: 19px;color: #0056D2;" class="text-decoration-none btn btn-white" routerLink="about"><i class="bi bi-building"></i> About Us</a>
          &nbsp;&nbsp;
          <a style="font-size: 19px;color: #0056D2;" class="text-decoration-none btn btn-white" routerLink="contact"><i class="bi bi-envelope"></i> Contact Us</a>
          &nbsp;&nbsp;
          <a style="font-size: 19px;color: #0056D2;" class="text-decoration-none btn btn-white" routerLink="feedback"><i class="bi bi-star"></i> Feedback</a>
          &nbsp;&nbsp;
          <div class="dropdown">
            <button style="font-size: 19px;color: #0056D2;" class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> Account</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
              <li><a class="dropdown-item" routerLink="/signup">Sign Up</a></li>
            </ul>
          </div>
    
          &nbsp;&nbsp;&nbsp;
        </ul>
      </div>
    </div>
  </nav>