<h1 class="text-center text-primary mt-4">Contact Us</h1>
<div class="container">
    <h5 class="mt-3">Thank you for your interest in Coursera, an online learning platform dedicated to providing high-quality education to learners worldwide. We value your feedback, questions, and concerns, and we are here to assist you in any way we can. Please find below the various methods through which you can reach us:</h5>

    <h5 class="mt-4 text-primary">Support Center:</h5>
    <h6>Our Support Center is available 24/7 to address any issues or queries you may have. You can access our comprehensive knowledge base, submit support tickets, and find answers to frequently asked questions.</h6>

    <h5 class="mt-4 text-primary">Email:</h5>
    <h6>You can also reach us via email by sending your inquiries to <span class="text-primary">support@coursera.com</span>. Our support team strives to respond to all emails promptly, typically within 24-48 hours.</h6>

    <h5 class="mt-4 text-primary">Social Media::</h5>
    <h6>Connect with us on social media platforms to stay updated with the latest news, announcements, and educational insights. You can find us on:
        <ul>
            <li>Facebook: <span class="text-primary">www.facebook.com/coursera</span></li>
            <li>Twitter: <span class="text-primary">www.twitter.com/coursera</span></li>
            <li>LinkedIn: <span class="text-primary">www.linkedin.com/company/coursera</span></li>
            <li>Instagram: <span class="text-primary">www.instagram.com/coursera</span></li>
        </ul>
    </h6>

    <h5 class="mt-4 text-primary">Thank you for choosing Coursera. We look forward to serving you on your learning journey!</h5>
    <br><br><br><br><br><br>
</div>