<div class="container bg-light mt-5">

    <div class=" text-center">
      <h1><b class="text-primary">WHY CODE?</b></h1><br>
      <div class="row">
        <div class="col">
          <div style="width: auto;">
            <img src="../assets/code1.svg" class="card-img-top" alt="..."><br>
            <div class="card-body bg-light"><br>
              <h4 class="card-title">It's Popular</h4>
              <p class="card-text text-secondary">Technical skills are in high demand. Over 60% of new jobs worldwide will require tech skills.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div style="width: auto;">
            <img src="../assets/code2.svg" class="card-img-top" alt="..."><br>
            <div class="card-body bg-light"><br>
              <h4 class="card-title">It's Fun</h4>
              <p class="card-text text-secondary">Imagine combining your passion and skill with your creativity, and making something new everyday!</p>
            </div>
        </div>
        </div>
        <div class="col">
          <div style="width: auto;">
            <img src="../assets/code3.svg" class="card-img-top" alt="..."><br>
            <div class="card-body bg-light"><br>
              <h4 class="card-title">It's Promising</h4>
              <p class="card-text text-secondary">Unlock your earning potential! Entry-level programmers in the U.S. earn on average over $78,000 in salary.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
    </div>
<br><br><br>
<div class="row g-0 bg-light position-relative row justify-content-md-center">
  <div class="col-md-5  mb-md-3 p-md-4">
    <img src="./assets/boy.svg" alt="Student" style="width:80%;height:auto">
  </div>
  <div class="col-md-5 p-2 ps-md-0"><br><br>
    <h1 class="mt-5 text-dark" id="spin"><b>WANT TO LEARN&nbsp;</b></h1>
    <h4 class="text-secondary mt-3">We make everythin simple and easy to understand.</h4><br>
    <a routerLink="course" class=" mt-5"> <button class="btn btn-primary btn-lg" type="button"  ><b>Find Courses &gt;&gt;</b></button></a>
  </div>
</div>
    <div class="container text-center mt-5">
        <div class="row align-items-start">
          <div class="col-6">
            <h4 class="text-start text-primary">OUR <br>STUDENTS <br>LOVE US 	🧡</h4>
          </div>
          <div class="col-6">
            <img src="https://img.icons8.com/ios-filled/25/F38D00/quote-right.png"><br><br>
            <h6 class="text-secondary text-start">I just wanna to say that I just completed this course and I am feeling very confident.I always wanted to learn CODING and you make it so easy to understand. So cool, just continue what you are doing and Thank you this course.</h6>
            <h6>Harsh Patel</h6>
          </div>
        </div>
      </div>
      <br><br><br>